.introduction {
    background-color: #07074f;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.introbox{
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
    margin-top: -10%;
}

.supertitle{
    font-size: 1rem;
    color: #fff;
}

.title {
    font-size: 1.5rem;
    margin-top: -25px;
    color:  #07074f;
    background-color: #fff;
    padding: 0 10 0 10;
}