.introduction {
    background-color: #07074f;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.introbox{
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
    margin-top: -10%;
}

.supertitle{
    font-size: 1rem;
    color: #fff;
}

.title {
    font-size: 1.5rem;
    margin-top: -25px;
    color:  #07074f;
    background-color: #fff;
    padding: 0 10 0 10;
}

.scrollicon {
    width: 25px;
}

.wrap-scrollicon {
    bottom: 5vh;
    position: absolute;
}

.content {
    width: 100%;
    background-color: whitesmoke;
    padding: 2vh 0vh 2vh 0vh;
}

.card {
    color: black;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
    transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
      0.3s box-shadow,
      0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
    cursor: pointer;
  }

  .card h2 {
      font-family: 'IBM Plex Sans', sans-serif;
  }

  .card p {
      font-family: 'Poppins', sans-serif;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
  }

  .person {
      width: 50%;
      padding: 2%;
      margin-left: 25%;
  }

  @media only screen and (max-width: 600px) {
    .person {
        width: 70%;
        padding: 5%;
        margin-left: 10%;

    }
  }
  

  .two {
    margin-top: 4vh;
}

  .profilepicture {
      height: 75px;
  }
