*, *:before, *:after {
    box-sizing: border-box;
}

.introduction {
    background-color: #07074f;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro{
    color: white;
    text-align: center;
    font-family: "Oswald", sans-serif;
    max-width: 50%;
}

.title {
    font-family: "Oswald", sans-serif;
    font-size: 30px;
    color: white;
}